.mt20 {
  margin-top: 0;
}

.pt16 {
  padding-top: 16px;
}

.textCenter {
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  margin-top: -64px;
  justify-content: center;
  align-items: center;
}

.btnCustom {
  margin: 10px auto auto auto;
  display: block;
  text-transform: capitalize;
}

.errorMessage {
  text-align: center;
  margin-top: 10px;
}

.title {
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
}

.desc {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .title,
  .desc {
    text-align: start;
  }
}
