.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorMessage {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.textCenter {
  text-align: center;
}

.btnCustom {
  margin: 10px auto auto auto;
  display: block;
  text-transform: capitalize;
}
