.marginFooter {
  margin-top: 25px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 900px) {
  .marginFooter {
    margin-top: 10px;
    margin-bottom: 56px;
  }
}

.boxMargin {
  margin-top: 50px;
  background-color: white;
  padding: 15px 0;
}

@media screen and (min-width: 900px) {
  .boxMargin {
    padding: 50px 0;
  }

  .link:hover,
  .grey:hover {
    color: rgba(0, 0, 0, 1);
  }
}

.grey {
  color: rgba(0, 0, 0, 0.6);
}

.link {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.desc {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.github {
  margin: auto 0 auto 10px;
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.gitContainer {
  display: flex;
  color: rgba(0, 0, 0, 0.6);
}

.pointer {
  cursor: pointer;
}

.mr {
  margin-right: 10px;
}

.iconContainer {
  display: flex;
  margin-top: auto;
  margin-bottom: -10px;
}

.fbContainer {
  cursor: pointer;
  margin: 10px 10px 10px 0;
}

.icon {
  cursor: pointer;
  margin: 10px;
}
