.mAuto {
  margin: 0 auto;
}

.btnCustom {
  margin-top: 10px;
  width: 100%;
  text-transform: capitalize;
}

.formTitle {
  margin: 20px 0 10px 0;
}

.bedTypeTitle {
  margin: 20px 0 5px 0;
}

.helperMargin {
  margin-top: 5px;
}
