.title {
  text-align: center;
  margin: auto 0;
  font-weight: 500;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.ml {
  margin-left: 5px !important;
}

.mt {
  margin-top: 15px;
}
